<header>
  <h1 class="title">Books</h1>
  <h3 class="subtitle">Filter by year</h3>
</header>

<div class="content-divider"></div>

<div class="slider-info">Displaying books published after {{this.selectedYear}} </div>
<input (click)="updateSelectedYear($event)" (change)="updateSelectedYear($event)" type="range" value={{this.selectedYear}} min={{this.minYear}} max={{this.maxYear}} step="" class="slider" id="slider" list="tickmarks">

<datalist id="tickmarks">
 <option *ngFor="let year of this.sortedYearVals" value={{year}}>
</datalist>

<div class="book-area">
  <div class="book-container" *ngFor="let book of books">
  <img *ngIf="book.year >= this.selectedYear" tabindex="0" class="book-entry" src={{book.path}} alt={{book.title}}>
  </div>
</div>